@using SchoolProject.Models
@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">User Page</h1>
    <table class="table table-bordered table-striped table s-m">
        <thead>
            <tr><th>School</th><th>User Type</th><th>First Name</th><th>Last Name</th><th>Year Group</th></tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.School.SchoolName</td>
                    <td>@user.UserType.UserTypeName</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.YearGroup</td>
                </tr>
            }
        </tbody>
    </table>

    <div>@Html.ActionLink("New", "Create")</div>
</div>