@using SchoolProject.Models
@model Course
@{
    ViewBag.Title = "New Course";
}
<h1>@ViewBag.Title</h1>
@using(Html.BeginForm()){
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.CourseName)
        @Html.TextBoxFor(model => model.CourseName, new { @class="form-control"})
        <span asp-validation-for="CourseName"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CourseDescription)
        @Html.TextBoxFor(model => model.CourseDescription, new { @class="form-control"})
        <span asp-validation-for="CourseDescription"></span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}