@using SchoolProject.Models
@model IEnumerable<School>
@{
    ViewData["Title"] = "Schools";
}
<div>
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    <table class="table table-bordered table-striped table s-m">
        <thead>
            <tr><th>Name</th><th></th></tr>
        </thead>
        <tbody>
            @foreach (var school in Model)
            {
                <tr>
                    <td>@school.SchoolName </td>
                    <td><a asp-action="Details" asp-route-id="@school.SchoolId">View</a> | <a asp-action="Edit" asp-route-id="@school.SchoolId">Edit</a> | <a asp-action="Delete" asp-route-id="@school.SchoolId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center"><a asp-controller="School" asp-action="Create" class="btn btn-secondary">New</a></div>
</div>